body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}

.page {
  padding: 40px;
}

h1 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

p {
  line-height: 1.6;
}
